# Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password
POSTGRES_DB=name_db

# PgAdmin
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin

# В коде приложения DATABASE_URL можно собрать так: 
# f"postgresql+asyncpg://{POSTGRES_USER}:{POSTGRES_PASSWORD}@{POSTGRES_HOST}:{POSTGRES_PORT}/{POSTGRES_DB}"
DATABASE_URL=postgresql+asyncpg://postgres:your_password@db:5432/name_db

# Celery
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0